# Environments
.env

# Internal AI Tracking (DO NOT COMMIT)
.gemini/

# Docker Logs
kebunkomuniti-core/gateway-nginx/logs/*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Flutter/Dart (For team members)
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/.generated/
android/.gradle/
local.properties

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
