# --- SERVICE AI ---
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# --- SERVICE INVENTORY ---
SUPABASE_URL=YOUR_SUPABASE_URL_HERE
SUPABASE_KEY=YOUR_SUPABASE_KEY_HERE

# --- NETWORK CONFIG ---
AI_SERVICE_PORT=8000
INVENTORY_SERVICE_PORT=8001
